
.makeup-container{
 padding: 20px;
  background-color: #F5F5F5 !important;
  border-radius: 10px;
}
/*
.makeup h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.makeup p {
  font-size: 1rem;
  color: #555;
}

.carousel-item img {
  max-width: 100%; *//* Full width within container *//*
  max-height: 80vh; *//* Maximum height, adjust as needed *//*
  object-fit: contain; *//* Adjusts the image size to maintain aspect ratio within the given dimensions *//*
  *//* Light skin background color code *//*
  border-radius: 10px; *//* Rounded corners *//*
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); *//* Shadow for modern look *//*
  margin: 0 auto; *//* Center the image *//*
}


.carousel, .carousel-inner, .carousel-item {
  max-width: 100%; *//* Full width within container *//*
  max-height: 80vh; *//* Maximum height, adjust as needed *//*
  object-fit: contain; *//* Adjusts the image size to maintain aspect ratio within the given dimensions *//*
  *//* Light skin background color code *//*
  border-radius: 10px; *//* Rounded corners *//*
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); *//* Shadow for modern look *//*
  margin: 0 auto; *//* Center the image *//*
}



*//* Ensure the body and html tags do not overflow horizontally *//*
html, body {
  overflow-x: hidden;
}


.carousel-control-next-icon.custom-black {
  background-color: black;
}

.carousel-control-prev-icon.custom-black {
  background-color: black;
}*/

