.footer {
  background-color: #563d7c; /* Match the navbar color */
  padding: 20px 0;
  color: white;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .copyright {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.footer .social-icons {
  margin-top: 10px;
}

.footer .social-icon {
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
