<footer>

  <p class="copyright">
    Copyright © 2024 Preeti | Professional Makeup Artist | <u>945-260-5235</u> | <a href="mailto:makeoverbypreeti@gmail.com"> <u>makeoverbypreeti@gmail.com</u> </a>
    | <a href="https://wa.me/19452605235" target="_blank">
    <img src="./assets/icons/whatsapp.png" alt="WhatsApp" style="width: 24px; height: 24px;margin-right: 10px;">
  </a>

    <a href="https://facebook.com/preetig655" target="_blank">
      <img src="./assets/icons/facebook.png" alt="Facebook" style="width: 24px; height: 24px;">
    </a>
    <a href="https://instagram.com/preetig655" target="_blank">
      <img src="./assets/icons/instagram.png" alt="Instagram" style="width: 24px; height: 24px; margin-left: 10px;">
    </a>
    <a href="tel:9452605235" target="_blank">
      <img src="./assets/icons/phone.png" alt="Call" style="width: 24px; height: 24px; margin-left: 10px;">
    </a>
  </p>
</footer>
