<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p class="copyright">
          &copy; 2024 Preeti | Professional Makeup Artist | <u>945-260-5235</u> |
          <a href="mailto:makeoverbypreetiusa@gmail.com"><u>Email Us!!</u></a>
        </p>
        <div class="social-icons">
          <a href="https://wa.me/19452605235" target="_blank">
            <img src="./assets/icons/whatsapp.png" alt="WhatsApp" class="social-icon">
          </a>
          <a href="https://facebook.com/preetig655" target="_blank">
            <img src="./assets/icons/facebook.png" alt="Facebook" class="social-icon">
          </a>
          <a href="https://instagram.com/preetig655" target="_blank">
            <img src="./assets/icons/instagram.png" alt="Instagram" class="social-icon">
          </a>
          <a href="tel:9452605235" target="_blank">
            <img src="./assets/icons/phone.png" alt="Call" class="social-icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
