.navbar {
  background-color: rgb(86, 61, 124)  !important; /* Changed color to pink */
  padding: 0.5rem 0;
  border: 10px;
}



.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-link {
  color: white !important; /* Ensures font color is white */
  font-family: 'Roboto', sans-serif;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  color :#E0E0E0;
  font-weight: normal;
}

.nav-link:hover {
  background-color: gold; /* Change background color on hover */
  color: black !important; /* Change text color on hover */
  border-radius: 5px; /* Ensure border-radius is applied on hover */
}


/* Ensure the navbar brand and toggler are properly aligned */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* src/app/logo/logo.component.css */
.logo-container {
  border-radius: 1px; /* Create oval shape */
  background-color: rgb(86, 61, 124)  !important;  /* Set background color to white */
  padding: 5px 12px; /* Add padding for better appearance */
  display: inline-block; /* Ensure the container is inline-block */
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
  color: white; /* Customize color */
  margin: 0;
}



.logo-subtext {
  font-size: 16px;
   color: gold; /* Customize color */
   margin: 0;
   border-top: 1px solid gold; /* Add top border */
   border-left: 1px solid gold;
   border-bottom: 1px solid gold; /* Add bottom border */
   border-right: 1px solid gold;
   padding-left: 5px;
}


/* Ensure the navbar menu is right-aligned on mobile */
@media (max-width: 576px) {
  .navbar-collapse {
    text-align: center;
  }
}
