<div class="aboutme-container">
  <div class="row">
    <div class="col-md-6" >
      <img src="./assets/profile.jpeg"  height="400px" width="200px" alt="Profile Picture">
    </div>
    <div class="col-md-6">
      <h2><u>About Me</u></h2>


      <p>Hello, I'm Preeti, a BTech graduate in Electronics who transitioned from a career as a Software Engineer at Tech Mahindra to become a certified cosmetologist and professional makeup artist and hairstylist based in Frisco, TX. With a decade of experience in the beauty industry, I specialize in crafting exquisite looks tailored for weddings, cultural celebrations, and other special events.</p>

      <p>My dedication to enhancing natural beauty and meticulous attention to detail ensure that each client departs feeling confident and radiant. Whether you seek a classic bridal appearance or a contemporary makeover, I am committed to realizing your desired aesthetic.</p>

      <p>Schedule your appointment today, and let me elevate your look for your memorable occasion!</p>
    </div>
  </div>
</div>
