.aboutme-container {
  background-color: #F5F5F5 !important;
}

.aboutme-container .row {
  display: flex;
  align-items: center;
}

.aboutme-container img {
  max-width: 100%;
  border-radius: 10px;
}

.aboutme-container h2 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

.aboutme-container p {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.aboutme-container .col-md-6 img {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
