<div class="aboutme-container">
  <div class="row">
    <div class="col-md-6" >
      <img src="./assets/profile.jpeg"  height="400px" width="200px" alt="Profile Picture">
    </div>
    <div class="col-md-6">
      <div class="container">
        <h1>Hello, I'm Preeti!</h1>
        <p>
          I’m originally from Kolkata, India, and I hold a BTech degree in Electronics & Communication. I previously worked as a Software Engineer at Tech Mahindra. Besides listening to music, shopping, and traveling, my main hobby is makeup and hairstyling. What started as a hobby has now become my passion. I am now a certified cosmetologist and professional makeup artist and hairstylist based in Frisco, TX. With more than a decade of experience in the beauty industry, I specialize in crafting exquisite looks tailored for weddings, cultural celebrations, and other special events.
        </p>
        <p>My dedication to enhancing natural beauty and meticulous attention to detail ensure that each client departs feeling confident and radiant. Whether you seek a classic bridal appearance or a contemporary makeover, I am committed to realizing your desired aesthetic.</p>
        <a href="#contact" class="cta-button">Schedule Your Appointment</a>
      </div>

    </div>
  </div>
</div>
