<div class="aboutme-container">
  <div class="row">
    <div class="col-md-6" >
      <img src="./assets/profile.jpeg"  height="400px" width="200px" alt="Profile Picture">
    </div>
    <div class="col-md-6">
      <h2><u>About Me</u></h2>
      <p>Hi, I'm Preeti, a professional makeup artist and hairstylist based in Frisco, TX. With years of experience in the beauty industry, I specialize in creating stunning looks for weddings, cultural celebrations, and special events.</p>
      <p>My passion for beauty and attention to detail ensures that every client leaves feeling confident and beautiful. Whether you're looking for a traditional bridal look or a modern makeover, I am here to help you achieve your desired style.</p>
      <p>Book your appointment today and let me help you look your best for your special occasion!</p>
    </div>
  </div>
</div>
