<div class="hairstyle">
  <div class="container">
    <div class="row">
      <div class="col-md-14">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let imageUrl of imageUrls; let i = index" class="carousel-item" [class.active]="i === 0">
              <img [src]="imageUrl" class="d-block w-100" [alt]="'Hairstyle ' + (i + 1)">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon custom-black" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon custom-black" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
