.contact-container {
  padding: 20px;
  background-color: #F5F5F5 !important;
  }

.contact {
  text-align: center;
  margin-top: 2rem;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 1rem;
  color: #555;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgb(86, 61, 124);
  color: white;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}

.cta-button:hover {
  background-color: gold;
  color :black;
}


.thank-you-banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: green;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2rem;
  display: none; /* Initially hidden */
}

.thank-you-banner.show {
  display: block;
}

