

body {
    font-family: Arial, sans-serif;
    background-image:grey;
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-color: red;
    color:red;
}
