<div class="home-container">
  <div class="row">
    <div class="col-12">
      <div class="col-12">
      <div class="service-card1">
        <h1>Welcome to Makeover by Preeti!</h1>
        <p>At our studio, we harness the magic of makeup and hairstyling to amplify your inner beauty and make you shine. Whether you’re preparing for a wedding, baby shower, cultural event, or need elegant saree draping, our expert team delivers stunning transformations tailored just for you. Step into your special day with confidence and grace.</p>
        <a href="#book" class="cta-button">Book Your Makeover Today!</a>
      </div>
        <div class="service-card1">
          <h1>SERVICES</h1>
        </div>
      </div>
      <section>

        <div class="row">

          <div class="col-md-4">
            <div class="service-card">
              <img src="./assets/gallery/gallery38.jpeg" class="img-fluid service-image" alt="Bridal Makeup & Hair"/>
              <h3 >Bridal Makeup & Hair</h3>
              <p >Create the perfect look for your big day, tailored to your style and vision.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card">
              <img src="./assets/gallery/gallery49.jpeg" class="img-fluid service-image" alt="Event Makeup & Hair"/>
              <h3 >Event Makeup & Hair</h3>
              <p >For baby showers, birthdays, or any special occasion, look stunning and feel confident.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service-card">
              <img src="./assets/gallery/gallery44.jpeg" class="img-fluid service-image" alt="Cultural Celebrations"/>
              <h3 >Cultural Celebrations</h3>
              <p >Specializing in traditional looks for events like half saree ceremonies.</p>
            </div>
          </div>
        </div>
      </section>
      <br>

    </div>
  </div>
</div>
