<section class="home">
  <div class="container">
    <h1>Welcome to Makeup </h1>
    <p>Discover the latest trends in makeup and hairstyling</p>
    <div class="cta">
      <a href="#" class="btn">Explore Makeup</a>
      <a href="#" class="btn">Explore Hairstyles</a>
    </div>
  </div>
</section>

<section class="features">
  <div class="container">
    <div class="feature">
      <h2>Discover the Latest Trends</h2>
      <p>Explore a diverse collection of makeup styles and hairstyle options to suit every occasion, mood, and personality.</p>
    </div>
    <div class="feature">
      <h2>Expert Advice and Tutorials</h2>
      <p>Learn from experienced makeup artists and hairstylists with our extensive library of tutorials, tips, and tricks.</p>
    </div>
    <div class="feature">
      <h2>Personalized Recommendations</h2>
      <p>Find the perfect makeup products and hair care essentials tailored to your unique needs and preferences.</p>
    </div>
  </div>
</section>

<section class="community">
  <div class="container">
    <h2>Join Our Community</h2>
    <p>Connect with like-minded beauty enthusiasts, share your favorite looks, and stay inspired with daily beauty content.</p>
    <a href="#" class="btn">Join Now</a>
  </div>
</section>

<h2>--------------Book Now---------------</h2>
<form (ngSubmit)="submitBooking()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="booking.name" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="booking.email" required>
  </div>
  <div>
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" [(ngModel)]="booking.phone" required>
  </div>
  <div>
    <label for="service">Service:</label>
    <select id="service" name="service" [(ngModel)]="booking.service" required>
      <option value="Hairstyle">Hairstyle</option>
      <option value="Makeup">Makeup</option>
      <!-- Add more options as needed -->
    </select>
  </div>
  <button type="submit">BOOK NOW</button>
</form>


<ng-image-slider [images]="imageObject" #nav></ng-image-slider>

